.forgot-password-container {
  margin:  auto;
  padding: 2rem;
  background:var(--bg-card);
  border-radius: 10px;
  font-family: Mulish, sans-serif;
  color:var(--text-main);
  text-align: center;
}

.btnForget {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  background:var( --nav-bg);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*===================================================*/

/* Left to Rigt & Right to Left*/
/* الاتجاه الافتراضي للإنكليزي */
.ltr {
  direction: ltr;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

/* الاتجاه للعربي */
.rtl {
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
}
.forget {
  margin: auto;
  margin-top: 8vh;
  border-top: 5px solid var(--primary);
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.8rem;
  width: 80%;
}