.forgot-password-container {
  margin: 3rem auto;
  padding: 2rem;
  background: #f1f8ff;
  border-radius: 10px;
  font-family: Mulish, sans-serif;
  color: #333;
  text-align: center;
}

.btnForget {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  background:linear-gradient(120deg, rgba(15,98,254,0.95), rgba(0,191,166,0.85));
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*===================================================*/

/* Left to Rigt & Right to Left*/
/* الاتجاه الافتراضي للإنكليزي */
.ltr {
  direction: ltr;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

/* الاتجاه للعربي */
.rtl {
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
}