.user-dashboard {  padding: 30px;  direction: rtl;  background-color:var(--bg-soft);  min-height: 100vh;}
.page-title-user { font-size: 28px; text-align: center;  margin-bottom: 30px;  color:var(--text-main);}
.stats-cards-user {  display: flex; gap: 20px;  margin-bottom: 40px;}
.card-user {  flex: 1;  background: var(--bg-card);  border-radius: 8px;  padding: 20px;  text-align: center;  box-shadow:var(--shadow-popup);}
.card-user h3 {color:var( --text-main);}
.card-user p {color:var( --text-main);}
.charts-grid-user {  display: grid;  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));gap: 30px;  margin-bottom: 40px;}
.charts-grid-user h3{color:var( --text-main);}
.chart-box-user { background:  var(--bg-card);  padding: 20px;  border-radius: 8px;}
.users-table { background: var(--bg-card);  border-radius: 8px;  padding: 20px;  box-shadow: 0 2px 8px rgba(0,0,0,0.1);}
.users-table table {  width: 100%; border-collapse: collapse}
.users-table h2{color:var( --text-main);}
.users-table p{color:var( --text-main);}
.users-table th, .users-table td {  color:var( --text-main);;padding: 12px; border-bottom: 1px solid var(--bg-soft); text-align: center;}
.user-avatar {  width: 50px;  height: 50px;  border-radius: 50%;  object-fit: cover;}
.user-loading-container { display: flex;  flex-direction: column;  align-items: center; justify-content: center; height: 80vh;}
.user-loading-gif { width:80px; height: 80px; object-fit: contain; margin-bottom: 10px;}
.user-delete-icone {  width: 40px;  height: 40px;  border-radius: 50%;  border: 2px solid  var(--bg-card);  object-fit: cover;  transition: transform 0.2s;}
.user-delete-icone:hover { transform: scale(1.1);}